.cache/
.config/
.dbclient/
.dotnet/
.ipython/
.local/
.ssh/
.vscode/
.vscode-server/
snap/
.bash_history
.bash_logout
.bashrc
.lesshst
.motd_shown
.mysql_history
.profile
.sudo_as_admin_successful
.wget-hsts
.gitconfig